<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>ToDoApp</title>


</head>
<body>
  <!--nav bar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Todo App
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
         
          
         
            <hr class="navbar-divider">
            
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--end nav bar-->



  <div class="container">
    <h3>Todo app</h3>
    <div class="control child">
      <input   [(ngModel)]="task"  [(ngModel)]="searchTask"class="input is-focused" size="33" type="text" placeholder="Enter a task here">
    </div>
    <div class="child">
      <button class="button is-link" (click)="onSave()">
        Save
      </button>

    </div>
    <div class="child">

    </div>
    <div class="table is-bordered">
      <table>
        <thead >
          <tr>
            <th>No.</th>
            <th>Todo item</th>
            <th>status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos;let i = index" class="{{(todo.progress? 'is-done':'')}}">
            <td>{{i}}</td>
            <td>{{todo.content}}</td>
            <td>{{todo.progress? "Finished":"In Progress"}}</td>
            <td style='white-space: nowrap'>
              <button class="button is-danger " (click)="delete(i)">
              Delete
              </button>
              <button class="button is-success " (click)="finished(i)">
              Finished
            </button></td>
          </tr>
        </tbody>  
      </table>
  
    </div>
  </div>

</body>
</html>
